{% set sumnetto %}
    {% block sumnetto %}
        <tr class="sumnetto">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_SUMNETTO", suffix: "COLON" }) }}
            </td>
            <td class="values">
                {{ order.getFormattedTotalNetSum() }} {{ currency.name }}
            </td>
        </tr>
    {% endblock %}
{% endset %}

{% set discount %}
    {% block discount %}
        <tr class="discount">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_DISCOUNT", suffix: "COLON" }) }}
            </td>
            <td class="values">
                {{ order.getFormattedDiscount() }} {{ currency.name }}
            </td>
        </tr>
    {% endblock %}
{% endset %}

{% set producttax %}
    {% block producttax %}
        {% for VatKey, oVat in order.getProductVats(false) %}
            <tr class="producttax">
                <td class="indent"></td>
                <td class="description">
                    {{ translate({ ident: "D3_PDFDOCUMENTS_TAX", suffix: "COLON" }) | format( VatKey ) }}
                </td>
                <td class="values">
                    {{ lang.formatCurrency(oVat, currency) }} {{ currency.name }}
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endset %}

{% set sumbrutto %}
    {% block sumbrutto %}
        <tr class="sumbrutto">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_SUMBRUTTO", suffix: "COLON" }) }}
            </td>
            <td class="values">
                {{ order.getFormattedTotalBrutSum() }} {{ currency.name }}
            </td>
        </tr>
    {% endblock %}
{% endset %}

{% if order.getFieldData('oxdiscount') %}
    {% if order.isNettoMode() %}
        {{ sumnetto }}
        {{ discount }}
        {{ producttax }}
        {{ sumbrutto }}
    {% else %}
        {{ sumbrutto }}
        {{ discount }}
        {{ sumnetto }}
        {{ producttax }}
    {% endif %}
{% else %}
    {{ sumnetto }}
    {{ producttax }}
    {{ sumbrutto }}
{% endif %}

{% if order.getFieldData('oxvoucherdiscount') %}
    {% block voucherdiscount %}
        <tr class="voucherdiscount">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_VOUCHERDISCOUNT", suffix: "COLON" }) }}
            </td>
            <td class="values">
                -{{ order.getFormattedTotalVouchers() }} {{ currency.name }}
            </td>
        </tr>
    {% endblock %}
{% endif %}

{% block delivery %}
    {% if config.getConfigParam('blShowVATForDelivery') %}
        {% set deliveryPrice = order.getOrderDeliveryPrice() %}
        <tr class="delivery">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_DELIVERY_NET", suffix: "COLON" }) }}
            </td>
            <td class="values">
                {{ lang.formatCurrency(deliveryPrice.getNettoPrice(), currency) }} {{ currency.name }}
            </td>
        </tr>
        <tr class="deliverytax">
            <td class="indent"></td>
            <td class="description">
                {% if config.getConfigParam('sAdditionalServVATCalcMethod') != 'proportional' %}
                    {{ translate({ ident: "D3_PDFDOCUMENTS_TAX", suffix: "COLON" }) | format( order.getFieldData('oxdelvat') ) }}
                {% else %}
                    {{ translate({ ident: "D3_PDFDOCUMENTS_PROPORTIONAL_TAX", suffix: "COLON" }) }}
                {% endif %}
            </td>
            <td class="values">
                {{ lang.formatCurrency(deliveryPrice.getVATValue(), currency) }} {{ currency.name }}
            </td>
        </tr>
    {% else %}
        <tr class="delivery">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_DELIVERY", suffix: "COLON" }) }}
            </td>
            <td class="values">
                {{ lang.formatCurrency(order.getFieldData('oxdelcost'), currency) }} {{ currency.name }}
            </td>
        </tr>
    {% endif %}
{% endblock %}

{% block payment %}
    {% if config.getConfigParam('blShowVATForPayCharge') %}
        {% set paymentPrice = order.getOrderPaymentPrice() %}
        <tr class="payment">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_PAYMENT_NET", suffix: "COLON" }) }}
            </td>
            <td class="values">
                {{ lang.formatCurrency(paymentPrice.getNettoPrice(), currency) }} {{ currency.name }}
            </td>
        </tr>
        <tr class="paymenttax">
            <td class="indent"></td>
            <td class="description">
                {% if config.getConfigParam('sAdditionalServVATCalcMethod') != 'proportional' %}
                    {{ translate({ ident: "D3_PDFDOCUMENTS_TAX", suffix: "COLON" }) | format( order.getFieldData('oxpayvat') ) }}
                {% else %}
                    {{ translate({ ident: "D3_PDFDOCUMENTS_PROPORTIONAL_TAX", suffix: "COLON" }) }}
                {% endif %}
            </td>
            <td class="values">
                {{ lang.formatCurrency(paymentPrice.getVATValue(), currency) }} {{ currency.name }}
            </td>
        </tr>
    {% else %}
        <tr class="payment">
            <td class="indent"></td>
            <td class="description">
                {{ translate({ ident: "D3_PDFDOCUMENTS_PAYMENT", suffix: "COLON" }) }}
            </td>
            <td class="values">
                {{ lang.formatCurrency(order.getFieldData('oxpaycost'), currency) }} {{ currency.name }}
            </td>
        </tr>
    {% endif %}
{% endblock %}

{% block wrapping %}
    {% if order.getFieldData('oxwrapcost') %}
        {% if config.getConfigParam('blShowVATForWrapping') %}
            {% set wrappingPrice = order.getOrderWrappingPrice() %}
            <tr class="wrapping">
                <td class="indent"></td>
                <td class="description">
                    {{ translate({ ident: "D3_PDFDOCUMENTS_WRAPPING_NET", suffix: "COLON" }) }}
                </td>
                <td class="values">
                    {{ lang.formatCurrency(wrappingPrice.getNettoPrice(), currency) }} {{ currency.name }}
                </td>
            </tr>
            <tr class="wrappingtax">
                <td class="indent"></td>
                <td class="description">
                    {{ translate({ ident: "D3_PDFDOCUMENTS_UNDEFINED_TAX", suffix: "COLON" }) }}
                </td>
                <td class="values">
                    {{ lang.formatCurrency(wrappingPrice.getVATValue(), currency) }} {{ currency.name }}
                </td>
            </tr>
        {% else %}
            <tr class="wrapping">
                <td class="indent"></td>
                <td class="description">
                    {{ translate({ ident: "D3_PDFDOCUMENTS_WRAPPING", suffix: "COLON" }) }}
                </td>
                <td class="values">
                    {{ lang.formatCurrency(order.getFieldData('oxwrapcost'), currency) }} {{ currency.name }}
                </td>
            </tr>
        {% endif %}
    {% endif %}
{% endblock %}

{% block giftcard %}
    {% if order.getFieldData('oxgiftcardcost') %}
        {% if config.getConfigParam('blShowVATForWrapping') %}
            {% set giftCardPrice = order.getOrderGiftCardPrice() %}
            <tr class="giftcard">
                <td class="indent"></td>
                <td class="description">
                    {{ translate({ ident: "D3_PDFDOCUMENTS_GIFTCARD_NET", suffix: "COLON" }) }}
                </td>
                <td class="values">
                    {{ lang.formatCurrency(giftCardPrice.getNettoPrice(), currency) }} {{ currency.name }}
                </td>
            </tr>
            <tr class="wrappingtax">
                <td class="indent"></td>
                <td class="description">
                    {{ translate({ ident: "D3_PDFDOCUMENTS_UNDEFINED_TAX", suffix: "COLON" }) }}
                </td>
                <td class="values">
                    {{ lang.formatCurrency(giftCardPrice.getVATValue(), currency) }} {{ currency.name }}
                </td>
            </tr>
        {% else %}
            <tr class="wrapping">
                <td class="indent"></td>
                <td class="description">
                    {{ translate({ ident: "D3_PDFDOCUMENTS_GIFTCARD", suffix: "COLON" }) }}
                </td>
                <td class="values">
                    {{ lang.formatCurrency(order.getFieldData('oxgiftcardcost'), currency) }} {{ currency.name }}
                </td>
            </tr>
        {% endif %}
    {% endif %}
{% endblock %}

{% block totalsum %}
    <tr class="totalseparator">
        <td class="indent"></td>
        <td class="description"></td>
        <td class="values"></td>
    </tr>
    <tr class="totalsum">
        <td class="indent"></td>
        <td class="description">
            {{ translate({ ident: "D3_PDFDOCUMENTS_TOTALSUMBRUT", suffix: "COLON" }) }}
        </td>
        <td class="values">
            {{ order.getFormattedTotalOrderSum() }} {{ currency.name }}
        </td>
    </tr>
{% endblock %}