<div class="informations">
    <div class="contactinformations">
        {% block pdfContactInformations %}
            <div class="headline">
                {{ translate({ ident: "D3_PDFDOCUMENTS_GET_IN_CONTACT" }) }}
            </div>
            <div>
                {{ translate({ ident: "D3_PDFDOCUMENTS_TELEFON", suffix: "COLON" }) }} {{ shop.getFieldData('oxtelefon') }}
            </div>
            <div>
                {{ translate({ ident: "D3_PDFDOCUMENTS_FAX", suffix: "COLON" }) }} {{ shop.getFieldData('oxtelefax') }}
            </div>
            <div>
                {{ translate({ ident: "D3_PDFDOCUMENTS_EMAIL", suffix: "COLON" }) }} {{ shop.getFieldData('oxinfoemail') }}
            </div>
        {% endblock %}
    </div>

    <div class="bankaccountinformations">
        {% block pdfBankaccountInformations %}
            <div class="headline">
                {{ translate({ ident: "D3_PDFDOCUMENTS_BANK_ACCOUNT" }) }}
            </div>
            <div>
                {{ shop.getFieldData('oxbankname') }}
            </div>
            <div>
                {{ translate({ ident: "D3_PDFDOCUMENTS_BANK_ACCOUNTNR", suffix: "COLON" }) }} {{ shop.getFieldData('oxibannumber') }}
            </div>
            <div>
                {{ translate({ ident: "D3_PDFDOCUMENTS_BANK_BANKCODE_HEADER", suffix: "COLON" }) }} {{ shop.getFieldData('oxbiccode') }}
            </div>
        {% endblock %}
    </div>

    {% if documentinformationfile %}
        {% include $documentinformationfile %}
    {% endif %}
</div>